@*@model LoginViewModel
    @{

        Layout = null;
        ViewData["Title"] = "ChangePassword";
    }
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="~/css/changePassword.css" />
    </head>
    <p value="@Model.UserName" id="justUserName">
    </p>

    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-th"></span>
                            Change password
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box">
                                <br>
                                <img alt="" class="img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            </div>
                            <div style="margin-top:80px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                        <input class="form-control" type="password" id="currPassword" placeholder="Current Password">
                                    </div>
                                    <span style="color:red" id="focus-currPassword" data-placeholder="&#xf207;"></span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                                        <input asp-for="Password" class="form-control" type="password" id="newPassword" placeholder="New Password">
                                    </div>
                                    <span style="color:red" id="focus-newPassword" data-placeholder="&#xf207;"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6"></div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <button class="btn icon-btn-save btn-success" asp-controller="Home" asp-action="Login" value="@Model.Password" type="submit" id="@Model.UserName" onclick="changePassword(this.value,this.id)">
                                    <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/changePassword.js"></script>*@
@{
    Layout = null;
}

@model LoginViewModel

<head>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<div id="container1">
    <div class="limiter">
        <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
            <div class="wrap-login100">
                <form class="login100-form validate-form">
                    <span class="login100-form-logo">
                        <p class="logo">TBI</p>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">

                    </span>

                    <div class="form-group">
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <i class="fa fa-lock chevron_toggleable glyphicon glyphicon-chevron-down" id="currentPass" aria-hidden="true"></i>
                            <input asp-for="Password" class="input100" id="currPassword" onclick="moveIcon()" type="password" name="password" placeholder="Current Password">
                        </div>
                        <span style="color:red" class="focus-input100" id="focus-currPassword" data-placeholder="&#xf207;"></span>
                    </div>
                    <div class="form-group">
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <i class="fa fa-lock" id="newPass" aria-hidden="true"></i>
                            <input asp-for="Password" class="input100" id="newPassword" type="password" name="password" placeholder="New Password">
                        </div>
                        <span style="color:red" class="focus-input100" id="focus-currPassword" data-placeholder="&#xf207;"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" asp-controller="Home" asp-action="Login" value="@Model.Password" type="submit" id="@Model.UserName" onclick="changePassword(this.value,this.id)">
                            Set New Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/changePassword.js"></script>
<script>
    function moveIcon() {
        console.log(15);
      
    }
</script>
@*<script src="~/js/main.js"></script>*@


