@model TBIBankApp.Models.Emails.EmailListModel;

@{
    ViewData["Title"] = "Index";
}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }



        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>

<div class="cm-md-12">

    <table>
        <tr>
            <th>Email ID</th>
            <th>Recieved</th>
            <th>Sender</th>
            <th>Subject</th>
            <th>Body</th>
            <th>Attachments</th>
            <th>Status</th>
            <th>Change status</th>
        </tr>
        @foreach (var item in Model.EmailViewModels)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.RegisteredInDataBase</td>
                <td>@item.Sender</td>
                <td>@item.Subject</td>
                <td>

                    <button type="submit" class="btn btn-primary">Email preview</button>
                    @*<button id="myBtn">Open Modal</button>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>@item.Body</p>
                        </div>

                    </div>*@
                </td>
                <td>
                @*@foreach (var att in item.Attachments)
                {
                <td>@att.FileName</td>
                }*@

                </td>
                <td>Not reviewed</td>
                <td>
                    <button type="submit" class="btn btn-primary">New</button>
                    <button type="submit" class="btn btn-primary">Closed</button>
                    
                </td>

            </tr>

        }
    </table>
</div>
<br />
<br />

<nav aria-label="Page navigation example">
    <ul class="pagination">

        <a asp-controller="Email" asp-action="ListEmails" asp-route-Id="@Model.PreviousPage" button type="submit" class="btn btn-primary">
            Previous
        </a>

        <li class="page-item"><a class="page-link" href="#">@Model.CurrentPage</a></li>

        <a asp-controller="Email" asp-action="ListEmails" asp-route-Id="@Model.NextPage" button type="submit" class="btn btn-primary">Next</a>
    </ul>
</nav>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>