@model TBIBankApp.Models.Emails.EmailListModel;

@{
    ViewData["Title"] = "Index";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div class="cm-md-12">

    <table>
        <tr>
            <th>Email ID</th>
            <th>Recieved</th>
            <th>Sender</th>
            <th>Subjext</th>
            <th>Status</th>
            <th>Attachments</th>
            <th>Button</th>
        </tr>
        @foreach (var item in Model.EmailViewModels)
        {
            <tr>
                <th>@item.Id</th>
                <th>@item.RegisteredInDataBase</th>
                <th>@item.Sender</th>
                <th>@item.Subject</th>
                <th>@item.Status</th>
                <th>#Attachmants</th>
                <th>Button</th>
            </tr>
        }
    </table>
</div>
<br />
<br />
<nav aria-label="Page navigation example">
    <ul class="pagination">

        <a asp-controller="Email" asp-action="ListEmails" asp-route-Id="@Model.PreviousPage" button type="submit" class="btn btn-primary">
            Previous
        </a>

        <li class="page-item"><a class="page-link" href="#">@Model.CurrentPage</a></li>
        <a asp-controller="Email" asp-action="ListEmails" asp-route-Id="@Model.NextPage" button type="submit" class="btn btn-primary">Next</a>
    </ul>
</nav>
